<div class="event">
  <h2>
    <small>How about every</small>
    <span class="emoji"><%= random_emoji_hexcode %></span>
    <span class="rainbows"><%= @ordinal %> <%= @day %></span>
    <span class="emoji"><%= random_emoji_hexcode %></span>
  </h2>

  <p class="scope-out-the-competition">There are <%= @conflicting_events.count %> other meets on this day in <%= @conflicting_events.city %>. <%= link_to "See what they are", @conflicting_events.url, target: "_blank" %></p>

  <div class="is-this-good btn-group">
    <%= link_to root_path, class: "btn btn-try-again" do %>
      <div class="emoji">&#128078;</div>
      Ugh&hellip;
    <% end %>
    <%= link_to "https://secure.meetup.com/create/", target: "_blank", class: "btn btn-this-is-fine" do %>
      <div class="emoji">&#128076;</div>
      Cool!
    <% end %>
  </div>

</div>
