<!DOCTYPE html>
<html>
<head>
  <title>What Day Should I Host A Recurring Event</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <%= tag :link, rel: "canonical", href: root_url %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
